

.App {
  /* padding: 20px; */
  /* background-color: blue; */
  height: 100vh;
}

.main-page-cont {
  width: 99.9%;
  height: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002043;
}

.movie-list {
  display: grid;
  align-items: center;
  width: 95%;
  height: 53%;
  padding: 1.5% 1.5%;
  border: solid #bf5709 5px;
  background-color: #054645;
  border-radius: 5px;
  grid-auto-flow: column;
  grid-auto-columns: 15%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 80%;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
  }
  p {
    font-size: 15px;
    text-wrap: nowrap;
  }
}

.movie img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #0163cb;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #01143a;
}

