.App {
  height: 100vh;
  background-color: #002043;
}

.main-page-cont {
  width: 99.9%;
  height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(55deg, #002043 10%, #203c5b 20%, #002043 35%, #002043 40%, #203c5b 55%, #002043 75%, #203c5b 95%)
}

.search-input {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-search {
  /* box-shadow: 0px 0px 20px 1px #fff; */
  border: 0;
  border-radius: 30px 0 0 30px;
  padding: 0 10px 0 10px;
  text-align: center;
  color: black;
  height: 25px;
  width: 500px;
  font-size: 25px;
  font-weight: 900;
}

.search-btn {
  transition: 0.2s ease-in-out;
    /* box-shadow:0px 0px 20px 1px #023396 ; */
    border: 0;
    border-radius: 0 30px 30px 0;
    padding: 0 10px 0 10px;
    text-align: center;
    color: black;
    position: relative;
    background-color: #025dbd;
    height: 25px;
    width: 100px;
    font-size: 20px;
    font-weight: 1000;

}

.movie-list {
  display: grid;
  align-items: center;
  width: 95%;
  height: 53%;
  padding: 1.5% 1.5%;
  border: solid #bf5709 5px;
  /* background-color: #112020; */
  background: linear-gradient(185deg, #112020 25%, #2d3838 50%, #112020 75%);
  border-radius: 5px;
  grid-auto-flow: column;
  grid-auto-columns: 15%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  width: 150px;
  height: 80%;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
  }
  p {
    font-size: 15px;
    text-wrap: nowrap;
    color: white;
  }
}

.movie img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #0163cb;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #01143a;
}

