.currentIndex-hidden {
  display: none !important;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99%;
  height: 40%;
  gap: 1%;
  background: linear-gradient(to bottom, 
    black 60%, 
    transparent 97%);
  border-radius: 10px;
  .movie-index-dots {
    display: flex;
    justify-content: center;
    margin-top: .5%;
    gap: 1%;
  };
  .index-dot {
    border-radius: 50%;
    border: 0;
    background-color: #fd6e00;
    color: #040200;
    cursor: pointer;
  };
  .index-dot-inactive {
    background-color: #fd6e00;
    color: #ffffff;
  };
  .not-visible {
    opacity: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  width: 99%;
  height: 99%;
  gap: 1%;
  overflow-y: hidden;
  position: relative;
  -webkit-mask-image: linear-gradient(to left, 
    transparent 10%, 
    black 20%, 
    black 80%, 
    transparent 90%);
}

.random-movie-img {
  aspect-ratio: 16 / 9;
  height: 190%;
  object-position: center -100px;
  cursor: pointer;
  animation: 5s linear to-left-slide,
    1s linear fade-in,
    1s 4s linear fade-out;

}

.random-movie-title {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 8%;
  left: 15%;
  bottom: 3%;
  margin: 0;
  font-size: 200%;
  font-weight: 1000;
  background: linear-gradient(to right, 
    rgba(0, 0, 0, 0.0) 5%, 
    rgba(0, 0, 0, 0.75) 15%, 
    rgba(0, 0, 0, 0.75) 85%, 
    rgba(0, 0, 0, 0.0) 100%);
    color: #fd6e00;
    animation: 5s linear to-right-slide,
    1.500s linear fade-in,
    1.500s 3.5s linear fade-out;
}

@keyframes to-left-slide {
  from {
    transform: translatex(2%);
  }
  to {
    transform: translatex(-2%);
  }
}

@keyframes to-right-slide {
  from {
    transform: translatex(-5%);
  }
  to {
    transform: translatex(5%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fade-out {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}