.currentIndex-hidden {
  display: none !important;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99%;
  height: 35%;
  gap: 1%;
  /* object-position: bottom; */
  .movie-index-dots {
    display: flex;
    justify-content: center;
    margin-top: .5%;
    gap: .25%;
  };
  .index-dot {
    border-radius: 50%;
    border: 0;
    background-color: #fd6e00;
    color: #fd6e00;
    cursor: pointer;
  };
  .index-dot-inactive {
    background-color: #904106;
    color: #904106;
  };
}

.container {
  display: flex;
  justify-content: center;
  width: 99%;
  height: 99%;
  gap: 1%;
  overflow-y: hidden;
  position: relative;
}

/* background: linear-gradient(to bottom, 
rgba(0, 0, 0, 0) 5%, 
rgba(0, 0, 0, 0.75) 20%,
rgba(0, 0, 0, 0.75) 80%,
rgba(0, 0, 0, 0) 100%); */

.random-movie-img {
  aspect-ratio: 2 / 3;
  height: 300%;
  object-position: center -180px;
  -webkit-mask-image: linear-gradient(to left, transparent, black 20%, black 80%, transparent);
  cursor: pointer;
  animation: 5s linear to-left-slide,
    1s linear fade-in,
    1s 4s linear fade-out;
}

.random-movie-title {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 8%;
  left: 15%;
  bottom: 3%;
  margin: 0;
  font-size: 200%;
  font-weight: 1000;
  background: linear-gradient(to right, 
    rgba(0, 0, 0, 0.0) 5%, 
    rgba(0, 0, 0, 0.75) 15%, 
    rgba(0, 0, 0, 0.75) 85%, 
    rgba(0, 0, 0, 0.0) 100%);
    color: #fd6e00;
    animation: 5s linear to-right-slide,
    1.500s linear fade-in,
    1.500s 3.5s linear fade-out;
}

@keyframes to-left-slide {
  from {
    transform: translatex(2%);
  }
  to {
    transform: translatex(-2%);
  }
}

@keyframes to-right-slide {
  from {
    transform: translatex(-5%);
  }
  to {
    transform: translatex(5%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fade-out {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}