/* .random-carousel {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 99.9%;
} */

.currentIndex-hidden {
  display: none;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99%;
  height: 30%;
  gap: 1%;
  .movie-index-dots {
    display: flex;
    justify-content: center;
    margin-top: .5%;
    gap: .25%;
  };
  .index-dot {
    border-radius: 50%;
    border: 0;
    background-color: #fd6e00;
    color: #000000;
    cursor: pointer;
  };
  .index-dot-inactive {
    background-color: #f86d03;
    color: #000000;
  };
}

.container {
  display: flex;
  justify-content: center;
  width: 99%;
  height: 99%;
  gap: 1%;
  img {
      width: 100%;
      height: 100%;
      object-fit:contain;
      border-radius: 10px;
      border: 2px solid rgba(255, 255, 255, 0.6);
      transition: all ease-in-out 0.5s;
      cursor: pointer;
  }
  a {
      /* display: inline-block;
      width: 10%;
      height: 100%; */
  }
}