.trailer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 65%;
    height: 30%;
    padding: 1% 1%;
    /* border: solid #bf5709 5px; */
    /* box-sizing: border-box; */
  /* background-color: #112020; */
    background: linear-gradient(185deg, #112020 25%, #2d3838 50%, #112020 75%);
    /* border-radius: 5px; */
    grid-auto-flow: column;
    grid-auto-columns: 15%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.movie-video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    width: 150px;
    height: 80%;
    iframe {
        width: 100%;
        height: auto;
        object-fit: contain;
        cursor: pointer;
    }
    h3 {
        font-size: 15px;
    }
}