.trailer-cont {
    height: 100vh;
}

.trailer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 98%;
    height: 97%;
    padding: 1% 1%;
    background: linear-gradient(185deg, #112020 25%, #2d3838 50%, #112020 75%);
    grid-auto-flow: column;
    grid-auto-columns: 15%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    gap: 10px;
}

.movie-video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    width: 150px;
    height: 80%;
    iframe {
        width: 100%;
        height: auto;
        object-fit: contain;
        cursor: pointer;
    }
    h3 {
        font-size: 15px;
    }
}