.footer {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    margin: 0 auto;
    background: linear-gradient(120deg, #023396 15%, #022978 35%, #023396 70%, #022978 90%);
}

.footer-info {
    ul {
        display: flex;
        gap: 20px;
        list-style: none;
    }
    li {
        color: white;
        cursor: pointer;
    }
}

.footer-icon img {
    width: 90px;
    border-radius: 50%;
}

@media screen and (max-width: 576px) {
    .footer {
        img {
            width: 50px;
        }
        ul {
            gap: 10px;
        }
        li {
            font-size: 12px;
        }
    }
}