.footer {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    margin: 0 auto;
    background: linear-gradient(120deg, #023396 15%, #022978 35%, #023396 70%, #022978 90%);
}

.footer-info {
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(max-content), 1fr);
        gap: 1rem;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li {
        color: white;
    }
}

.footer-icon img {
    width: 90px;
    border-radius: 50%;
}